.custom-class {
  margin-top: -50px;
}

#chat-interface {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

#chat-history {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  height: 300px;
  overflow-y: auto;
}

#chat-input,
#chat-input-box {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5em; /* Increase the font size */
  padding: 20px; /* Increase the padding */
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-message {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}
